@charset "ISO-8859-1";@charset "ISO-8859-1";

/* Direct To Cart Container	*/
#directToCart {
	background-color: red;
	width:100%;
	height:100%;
	display:none
}

.billingContent {
	display:flex;
	justify-content: space-between;
}

.column-head {
	color:red;
}

#cont{
	border-radius:15px;
    background-color:white;
    margin: 25px 10px 10px 10px;
    width: initial;
    font-size: 20px;
    padding: 25px;
}

#navbar1 {
	border-radius:15px;
	background-color: red;
    color: white;
    margin:10px;
}
	
}
  
 #addPayDiv {
 	display: flex;
 }
 
 #addPayBtn {
 	height: 60px;
    width: 93%;
    border-radius: 15px;
    margin: 10px;
 }
 
 #addPayBtn:hover {
 	background-color:red;
 }
 
 @media screen and (min-width: 768px) {
    #cont{
	border-radius:15px;
    background-color:white;
    margin:10px auto;
    width: initial;
    font-size: 20px;
    padding: 25px;
	}
	
	#navbar1{
		margin:22px;
	}
	
	 #addPayBtn {
    	margin: 22px;
    	justify-content: center;
 	}
  }